@font-face{
font-family:"GlyphaLTW01-35ThinObliq";
src:url("//cdn.ncsu.edu/brand-assets/fonts/e63071f2-14a6-423e-8d9e-508502434277.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/e63071f2-14a6-423e-8d9e-508502434277.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/a9a13947-f910-47db-8059-a17f0b2f7a0c.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/bceb963c-443b-4295-a3b4-1880154385fb.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/b7fdfc37-f100-4dfc-8994-7f049240e47f.svg#b7fdfc37-f100-4dfc-8994-7f049240e47f") format("svg");
}
@font-face{
font-family:"Glypha LT W01 35 Thin";
src:url("//cdn.ncsu.edu/brand-assets/fonts/77197a83-c741-4ea8-8dc0-1b2252c2be37.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/77197a83-c741-4ea8-8dc0-1b2252c2be37.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/eaab0246-e086-446e-aa06-61954ae1d34d.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/24687d56-83c4-476a-af61-6abddb43f7b0.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/cd4dc63a-55ae-4e87-9128-841fee422ac5.svg#cd4dc63a-55ae-4e87-9128-841fee422ac5") format("svg");
}
@font-face{
font-family:"Glypha LT W01 45 Light";
src:url("//cdn.ncsu.edu/brand-assets/fonts/24f06ec1-5bcf-458a-bcfb-eac146760ba0.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/24f06ec1-5bcf-458a-bcfb-eac146760ba0.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/439b0ebb-aa56-4484-bb89-d8fcd8fffe83.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/31124f99-dab9-42b9-98c8-65c991eb80dc.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/4024835f-8aea-4b85-a0e1-d0ede737eefd.svg#4024835f-8aea-4b85-a0e1-d0ede737eefd") format("svg");
}
@font-face{
font-family:"GlyphaLTW01-65BoldObliq";
src:url("//cdn.ncsu.edu/brand-assets/fonts/af7ad3fe-d518-46b9-b428-4eff9698a70d.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/af7ad3fe-d518-46b9-b428-4eff9698a70d.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/41fcd388-0473-487f-a4e4-903d7a45552f.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/4ab5ebc1-404b-43c0-bf4c-f8ec29c088f3.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/929328f7-c744-496f-98ee-d385c7dfc1a6.svg#929328f7-c744-496f-98ee-d385c7dfc1a6") format("svg");
}
@font-face{
font-family:"GlyphaLTW01-55Oblique";
src:url("//cdn.ncsu.edu/brand-assets/fonts/9a3e7863-7e5b-4f3a-adcf-8fb8b27c785f.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/9a3e7863-7e5b-4f3a-adcf-8fb8b27c785f.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/bee909ed-5851-4a4c-8010-d81551f74b6b.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/0657dc0d-113d-42cb-9414-030e07d07fa0.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/31abaea4-3db9-4be2-9da2-c7d6170a00b5.svg#31abaea4-3db9-4be2-9da2-c7d6170a00b5") format("svg");
}
@font-face{
font-family:"GlyphaLTW01-75BlackObli";
src:url("//cdn.ncsu.edu/brand-assets/fonts/01efe3fe-95ff-4876-b251-0f08920ac940.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/01efe3fe-95ff-4876-b251-0f08920ac940.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/9f22178b-57e4-4c36-9c5f-635367044cda.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/72584572-333f-4e65-855f-dce145f19a8b.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/b7e3572c-9df8-4c2b-865c-0beef74b26ec.svg#b7e3572c-9df8-4c2b-865c-0beef74b26ec") format("svg");
}
@font-face{
font-family:"Glypha LT W01 55 Roman";
src:url("//cdn.ncsu.edu/brand-assets/fonts/5d685597-f360-4464-a715-9c1484c941d1.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/5d685597-f360-4464-a715-9c1484c941d1.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/2ac87a71-d939-489d-bc6b-347d07881063.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/9884d4c9-f5c9-40fc-839d-e64bc2bca326.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/9afb9aeb-d1ab-4165-858b-a9f6a9329cc2.svg#9afb9aeb-d1ab-4165-858b-a9f6a9329cc2") format("svg");
}
@font-face{
font-family:"GlyphaLTW01-45LightObli";
src:url("//cdn.ncsu.edu/brand-assets/fonts/97bb0d10-97e5-46c7-8687-26d752869b99.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/97bb0d10-97e5-46c7-8687-26d752869b99.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/779ff1a6-2860-40fd-9532-80325af29469.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/179331f7-9694-4007-8c2e-93503acc7ee3.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/daa02aa9-fa6d-4fea-acfe-45bc3a7e63c9.svg#daa02aa9-fa6d-4fea-acfe-45bc3a7e63c9") format("svg");
}
@font-face{
font-family:"Glypha LT W01 75 Black";
src:url("//cdn.ncsu.edu/brand-assets/fonts/23cd6501-d4ab-44aa-b031-4c65da0cff5a.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/23cd6501-d4ab-44aa-b031-4c65da0cff5a.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/c92456bd-13d3-4aba-a066-00abe6e12a23.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/fcb4b45b-2069-48f9-86b9-fd4878c9fab5.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/5dd3e112-c1ab-4286-8da3-226de603fe4f.svg#5dd3e112-c1ab-4286-8da3-226de603fe4f") format("svg");
}
@font-face{
/* Glypha LT W01 65 Bold */
font-family:"Glypha LT W01 55 Roman";
font-weight: bold;
src:url("//cdn.ncsu.edu/brand-assets/fonts/a9fac05b-7139-447c-9d0a-e2cfe6f08956.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/a9fac05b-7139-447c-9d0a-e2cfe6f08956.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/52db8eec-5d0e-4047-9df3-01b004f01371.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/fb20e835-937d-4e90-b91a-38e17c8bb0ee.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/124daf03-3c02-409f-aa57-3b8cb061723e.svg#124daf03-3c02-409f-aa57-3b8cb061723e") format("svg");
}

@font-face{
/* Univers LT W02 55 Roman */
font-family:"UniversRoman";
src:url("//cdn.ncsu.edu/brand-assets/fonts/f1999e78-ab0c-4adc-a7dc-51e567e6cf5e.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/f1999e78-ab0c-4adc-a7dc-51e567e6cf5e.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/4d1e8df3-6c45-428d-a522-84c8a6a4e533.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/3c9abc50-742c-46dd-8af4-c50866112be0.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/c6310aa0-a8a1-4afc-a747-091de3970894.svg#c6310aa0-a8a1-4afc-a747-091de3970894") format("svg");
}

@font-face{
/* Univers LT W01 65 Bold */
font-family:"UniversRoman";
src:url("//cdn.ncsu.edu/brand-assets/fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/db1c462f-8890-4a11-9de5-36872279e20a.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/b993da84-c1f6-474a-8f00-8aa797b3de8f.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/58403ef6-4c15-4280-b4b6-9acf50804f4f.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/9178e351-95c5-4913-9eeb-fd0645a18c2d.svg#9178e351-95c5-4913-9eeb-fd0645a18c2d") format("svg");
font-weight: bold;
}

@font-face{
/* UniversLTW01-57Condense 723821 */
font-family:"UniversCondensed";
src:url("//cdn.ncsu.edu/brand-assets/fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670") format("svg"); 
}

@font-face{
/* UniversLTW01-67BoldCn */
font-family:"UniversCondensed";
src:url("//cdn.ncsu.edu/brand-assets/fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix") format("embedded-opentype"),
url("//cdn.ncsu.edu/brand-assets/fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff") format("woff"),
url("//cdn.ncsu.edu/brand-assets/fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf") format("truetype"),
url("//cdn.ncsu.edu/brand-assets/fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402") format("svg");
font-weight: bold;
}

@font-face{
/*font-family:"Univers LT W02 45 Light";*/
font-family: "UniversLight";
src:url("https://cdn.ncsu.edu/brand-assets/fonts/34ecd7fc-f469-4e0c-980b-6d7fcec493da.eot?#iefix");
src:url("https://cdn.ncsu.edu/brand-assets/fonts/34ecd7fc-f469-4e0c-980b-6d7fcec493da.eot?#iefix") format("eot"),url("https://cdn.ncsu.edu/brand-assets/fonts/47a5b741-405e-4d03-ba4a-e50cc7716ddf.woff") format("woff"),url("https://cdn.ncsu.edu/brand-assets/fonts/6ef60ba5-712c-4ea5-9e57-0242591afed0.ttf") format("truetype"),url("https://cdn.ncsu.edu/brand-assets/fonts/ae2bbb03-6095-4a28-a333-555527bde8f6.svg#ae2bbb03-6095-4a28-a333-555527bde8f6") format("svg");
}

@font-face{
/* Univers Roman Bold */
font-family: "UniversLight";
src:url("//cdn.ncsu.edu/brand-assets/fonts/f1999e78-ab0c-4adc-a7dc-51e567e6cf5e.eot?#iefix");
src:url("//cdn.ncsu.edu/brand-assets/fonts/f1999e78-ab0c-4adc-a7dc-51e567e6cf5e.eot?#iefix") format("embedded-opentype"),url("//cdn.ncsu.edu/brand-assets/fonts/4d1e8df3-6c45-428d-a522-84c8a6a4e533.woff") format("woff"),url("//cdn.ncsu.edu/brand-assets/fonts/3c9abc50-742c-46dd-8af4-c50866112be0.ttf") format("truetype"),url("//cdn.ncsu.edu/brand-assets/fonts/c6310aa0-a8a1-4afc-a747-091de3970894.svg#c6310aa0-a8a1-4afc-a747-091de3970894") format("svg");
font-weight: bold;
}

@font-face{
/*font-family:"UniversLTW01-47LightCn";*/
font-family: "UniversLightCondensed";
src:url("https://cdn.ncsu.edu/brand-assets/fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix");
src:url("https://cdn.ncsu.edu/brand-assets/fonts/296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix") format("eot"),url("https://cdn.ncsu.edu/brand-assets/fonts/609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff") format("woff"),url("https://cdn.ncsu.edu/brand-assets/fonts/a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf") format("truetype"),url("https://cdn.ncsu.edu/brand-assets/fonts/1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce") format("svg");
}